<?xml version="1.0"?>

<model>
  <name>SSRS Drone With Ardupilot</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>TODO</name>
    <email>TO.DO@LATER.POINT</email>
  </author>

  <description>
    A model of a SSRS delta wing with Ardupilot integration.
  </description>

</model>
